<div>
<form action="/replace" method="post">
<p>input:<input type="text" name="input" ng-model="input" /><p>
<p>{{ input }}</p>
<input type="button" value="submit" id="submit_input" ng-click="submit_ajax_input()"/>
<!-- <input type="submit" value="Submit" /> -->
</form>

<p>{{ output }}</p>
<br>

<p>input2:<input type="text" name="input2" ng-model="input2" /><p>
<p>{{ input2 }}</p>
<input type="button" value="submit2" id="submit_input2" ng-click="submit_ajax_input2()"/>

<p>{{ output2 }}</p>
</div>
